@font-face {
  font-family: 'impact';
  src: url('fonts/impact.ttf') format('truetype');
}

@font-face {
  font-family: 'acumin';
  src: url('fonts/Acumin-RPro.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
    display: none;
}

.hidden_text {
    color: transparent !important;
}

.header {
    display: flex;
    position: fixed;
    background: linear-gradient(to bottom, #000000, #0000);
    justify-content: space-between; /* 左中右对齐 */
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;
    padding-right: 40px;
    height: 150px;
}

.style_bar{
    gap: 20px;
    background-color: #ff5a4e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.nav_bar{
    display: flex;
    flex-direction: row;
}


.nav_bar{
    gap: 40px;
    align-items: center;
}

p.impact_font,
button.nav_text {
    font-family: 'impact';
    font-size: 25px;
    color: #fef8d0;
    text-align: center;
}

p.acumin_font {
    font-family: 'acumin';
}

.style_bar_text p {
    font-size: 20px;
    color: #fef8d0;
    text-align: center;
}

/* 处理Button的hover*/
button.nav_bar_button {
    position: relative;
    background: none;
    border: none;
    padding: 0px 0px;
    margin: 0px 0px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    font-family: 'impact';
    color: #fef8d0;
    text-align: center;
}

button.nav_bar_button::after {
    content: "";
    position: absolute;
    bottom: -20px;
    margin-top: 10px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fef8d0;
    transform-origin: left;
    transition: width 0.2s ease;
}

button.nav_bar_button:hover::after {
    width: 100%;
}

/* 处理所有图片相关的 */
.logo {
    margin-top: 20px;
    height: 90px;
    width: auto;
    margin-left: 20px;
}

.splash {
    margin: 10px;
    margin-top: 150px;
    height: 400px;
    width: auto;
}   

/* 处理intro 文字 */
.style_bar_text {
  max-width: 700px;     
  width: 100%;
  margin-bottom: 20px;          
  text-align: center;   
}

/* 处理滚动动画 */
p.scrolling_text {
    font-size: 200px;
    opacity: 0.2;
}

.style_bar {
  position: relative;     
  overflow: hidden;        
  background-color: #ff5a4e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;         
  z-index: -1;          
  pointer-events: none; 
  overflow: hidden;
}

.scroll_row {
  position: absolute;
  white-space: nowrap;
  color: rgba(254, 248, 208, 0.2);
  z-index: 0;
  pointer-events: none;
  line-height: 1;
  display: flex;
  align-items: center;
}

.scroll_row.top {
    top: 0;
  animation: scroll_left 60s linear infinite;
}


.scroll_row.bottom {
    bottom: 0;
  animation: scroll_right 60s linear infinite;
}

.scrolling_text2 span{
    animation-delay: 5s;
}

@keyframes scroll_left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-10%); }
}

@keyframes scroll_right {
  0% { transform: translateX(0%); }
  100% { transform: translateX(10%); }
}

/* 处理language icon */
.language {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    z-index: 10001;
}

.language_icon {
    max-width: 40px;
    height: auto;
}

.language_button {
    background: none;
    border: none;
    padding: 0px 0px;
    margin: 0px 0px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
}

/* Language Selected Menu */

.language_menu {
    position: fixed;
    top: 110px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    width: 320px;
    height: 160px;
    margin-right: 10px;
    z-index: 10001;
}

.language_menu_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.language_menu.active {
    display: flex;
}

.language_list li,
.selected_list li{
    list-style-type: none;
    font-size: 20px;
    padding: 5px;
    display: flex;
    align-items: flex-end; /* ✅ 把所有 ✓ 右对齐 */
    align-items: center;
}

.language_list {
    width: 50%;
}


.language_list li,
.selected_list li{
    color: #fef8d0;
}

li.selected {
    color: #ff5a4e;
}

.selected_list li {
    color: #ff5a4e;
}

.language_menu.active::before {
    content: "";
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 20px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.7);
}

.language_list ul,
.selected_list ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.language_list li {
    transition: all 0.2s ease;
}

.language_icon:hover {
    transform: scale(1.1); 
}

.language_list li:hover {
    color: #ff5a4e;
    transform: scale(1.05);    
}

li.selected {
    color: #ff5a4e;
}