body {
    background-color: #fffcec;
}

.hidden {
    display: none;
}

.impact_font {
    font-family: 'impact'
}

.fit_text_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1.portfolio_title {
  font-size: 23vw;
  white-space: nowrap;

  background: linear-gradient(to bottom, #ff5a4e, #0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 处理作品单个card的css */

.game_cover {
  height: auto;
  object-fit: cover;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #000000, #0000);
  transition: width 0.2s ease;
  pointer-events: none; /* 避免它挡住 hover */
}

.card:hover .overlay::after {
  width: 100%;
}

.card {
  position: relative;
  width: 45vw;
  aspect-ratio: 1280 / 720;
  overflow: hidden;
}

.card:hover img.game_cover {
  opacity: 0;
  transition: opacity 0.3s ease;
}


.game_description::after {
  gap: 0.7vw;
  max-width: 12vw;
  padding-left: 1.5vw;
  pointer-events: none; /* 避免它挡住 hover */
}

.game_description {
  display: flex;
  flex-direction: column;
  opacity: 0;
  max-width: 300px;
  transition: opacity 0.3s ease;
  pointer-events: none;
  margin-left: 40px;
  gap: 10px;
}

.game_description h2 {
  font-size: 24px;
}

.game_description p {
  font-size: 18px;
  font-weight: lighter;
}

.genre {
  font-weight: bolder !important;
}

.card:hover .game_description {
  opacity: 1;
  pointer-events: auto; /* hover 时可以点击或选中文字 */
}

.game_description h2,
.game_description p {
    color: #fffcec;
}


.game_cover,
.game_description,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* 处理view more button */
.view_button {
  font-weight: lighter;
  position: absolute;
  border: none;
  bottom: 40px;
  left: 50%;   
  transform: translateX(-50%);
  background-color: #ff5a4e;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.view_button {
  scale: 1;
  transition: scale 0.3s ease;
}

.view_button:hover {
  scale: 1.05;
}

/* 处理多个card的排版 */

.card_row {
  display: flex;
  flex-direction: row;
  gap: 70px
}

.card_column {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
      .card_row {
        flex-direction: column;
        gap: 40px;
        align-items: center;
      }

      .card {
        width: 85vw;
      }

      .game_description {
        font-size: 4vw;
        padding: 10px;
      }
    }

  